h1 {
  margin-bottom: 0;
}
#todo-list {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em 0;
  border: 1px solid blue;
}

.todo-item {
  padding: 0.5em;
  margin-left: 2em;
  cursor: pointer;
  user-select: none;
}

.todo-item input[type="checkbox"] {
  margin-right: 1em;
}

.todo-item.done {
  text-decoration: line-through;
}
